nav{
	text-align: right;
}

nav ul{
	display: inline;

}

nav li{
	margin: 0;
    padding: 0 10px;
	display: inline;
	color: orange;
}

.forms{
    padding: 0px;
    text-align: center;
}
input{
	padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
form{
	display: inline-block;
}


*{
	font-family: font-family: Palatino, 'Palatino Liontype', Serif;
}



body{
	background-color: Tomato;
}

.botoes{
	text-align: center;
	margin-top: 5px;
	border-bottom-color: yellow;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
   
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}